<%- include('header') %>

    <h1>Sign Up</h1>

    <form action="/register" method="POST">

        <% if(locals.messages.errors) { %>
            
            <% messages.errors.forEach( el=> { %>
                <div class="error">
                    <%= el.msg %>
                </div>
                <% }) %>
                    <% } %>

                        <label>Username:</label>
                        <input type="text" name="username" required>

                        <label>Email:</label>
                        <input type="email" name="email" required>

                        <label>Password:</label>
                        <input type="password" name="password" required>

                        <button type="submit">Register</button>
    </form>

    <%- include('footer') %>